[submodule "libxputty"]
	path = libxputty
	url = https://github.com/brummer10/libxputty.git
[submodule "RTNeural"]
	path = RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "FFTConvolver"]
	path = FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver.git
