[Desktop Entry]
Version=0.2
Type=Application
Name=Ratatouille
Comment=Neural Model loader and mixer for Jack Audio Connection Kit
Exec=Ratatouille
Icon=Ratatouille
Categories=AudioVideo;Audio;
Terminal=false
X-NSM-Capable=false
X-NSM-Exec=Ratatouille
Name[de_DE]=Ratatouille
